########################
#
#	file type
#
########################
### 2020”N12ŒŽ30“ú0:27:29
*.png

################################################
#
#	directories
#
################################################
# .git
# .git/*
Downloads/*
Programs/*
Storage/*
#WORKS/*
WS/*
#*.lnk
TEMP/*

videonews_bookmarks/
Utils/wallpapers/*
MQL4_Indicators-EAs/*

### 2020”N3ŒŽ30“ú15:26:40
shortcuts_docs/*

### 2020”N5ŒŽ15“ú14:20:02
shortcuts_docs/*
